body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background: #f9f9f9;
  }
  
  .container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .status {
    margin-top: 1rem;
    color: green;
  }
  
  .file-link {
    margin-top: 1rem;
  }

  .container-statistics {
    margin: auto;
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }